.back {
  padding: 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: var(--bg-violet);
  border-radius: 3px;
  padding: 1rem;
  margin: 0 1rem;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  display: block;
  width: 85px;
}

.btn-outline {
  background-color: var(--color-white);
  border-radius: 3px;
  padding: 1rem;
  margin: 0 1rem;
  color: var(--bg-violet);
  border: 1px solid var(--bg-violet);
  cursor: pointer;
  display: block;
  width: 85px;
}
.movie {
  color: var(--color-light-grey);
  padding-bottom: 15rem;
}
.infos {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.infos p {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  color: var(--color-light-grey);
}
.movie img,
.movie h2,
.movie p {
  margin-bottom: 1rem;
}
.movie h2 {
  font-size: 1.6rem;
  color: var(--color-grey);
  word-wrap: break-word;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.summary {
  padding: 0 0.5rem;
  font-size: 1.4rem;
}
