.footer {
  background-color: var(--bg-violet);
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 10rem;
  color: var(--color-white);
  text-align: center;
}
.copyright {
  margin: 3rem;
  font-size: 1.1rem;
}
