.header {
  display: flex;
  align-items: center;
  background-color: var(--bg-violet);
}
.logo {
  width: 5rem;
  margin: 1rem;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: var(--color-white);
}
